<!doctype html>
<html>
<head>
	<title>Curso CF</title>

	<meta charset="UTF-8" />
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<link rel="stylesheet" type="text/css" href="libs/semantic/semantic.min.css">

</head>
<body>
	
	<div class="ui secondary pointing menu">
		<a href="app/catalogos/paises/listado.cfm" class="item">Paises</a>
		<a href="app/catalogos/estados/listado.cfm" class="item">Estados</a>
		<a href="app/catalogos/ciudades/listado.cfm" class="item">Estados</a>
	</div>

</body>
</html>
